$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
@import "rotating-card.scss";

.show-more {
  margin: 40px;
}
.poke-spinner {
  text-align: center;
  padding: 10% 0;
}
.poke-logo {
  width: 60px;
}

.poke-header {
  text-align: center;
  text-transform: uppercase;
}
.body {
  margin-top: 10px !important;
}

.poke-filter {
  width: 300px;
  margin: 0 auto;
}
